---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About | Miloua Mokhtar">
  <div
    class="dark:bg-stone-700 dark:border-stone-600 2xl:w-1/2 lg:w-[798px] m-auto bg-white border shadow my-4 rounded-md px-2"
  >
    <div class="text-2xl text-center mt-2 mb-6">
      Hi again! I am a web developer from Algeria, sometimes working on the
      frontend, sometimes fullstack. To build my projects, I use
      <b
        ><a
          href="https://nextjs.org/"
          target="_blank"
          rel="noreferrer"
          class="transition-colors dark:hover:text-stone-300 hover:text-muted-foreground"
          >Next.js</a
        ></b
      > for fullstack apps, <b
        ><a
          href="https://astro.build/"
          target="_blank"
          rel="noreferrer"
          class="transition-colors dark:hover:text-stone-300 hover:text-muted-foreground"
          >Astro</a
        ></b
      > to create content-driven websites, <b
        ><a
          href="https://expo.dev/"
          target="_blank"
          rel="noreferrer"
          class="transition-colors dark:hover:text-stone-300 hover:text-muted-foreground"
          >Expo</a
        ></b
      > for mobile development and style everything with <b
        ><a
          href="https://tailwindcss.com/"
          target="_blank"
          rel="noreferrer"
          class="transition-colors dark:hover:text-stone-300 hover:text-muted-foreground"
          >Tailwind</a
        ></b
      >. I am mostly into classical <a
        href="/bookshelf"
        target="_blank"
        rel="noreferrer"
        class="font-semibold cursor-book color-transition dark:hover:text-stone-300 hover:text-muted-foreground"
        data-umami-event={`Bookshelf`}>books</a
      >, enjoy <a
        class="font-semibold cursor-zeus color-transition dark:hover:text-stone-300 hover:text-muted-foreground"
        href="/philosophy"
        target="_blank"
        data-umami-event={`Philosophy`}
        rel="noreferrer">philosophy</a
      >, was addicted to <a
        class="font-semibold cursor-knight color-transition dark:hover:text-stone-300 hover:text-muted-foreground"
        href="https://www.chess.com/member/astroboi21"
        target="_blank"
        data-umami-event={`Chess`}
        rel="noreferrer">chess</a
      >, indie <a
        class="font-semibold cursor-ship color-transition dark:hover:text-stone-300 hover:text-muted-foreground"
        href="https://volt.fm/astroboi99"
        target="_blank"
        data-umami-event={`Music`}
        rel="noreferrer">music</a
      > fan and retro video games enjoyer.
    </div>
    <div class="text-center text-xl">
      You can find me on <b class="hover:underline"
        ><a
          href="https://github.com/Miloua91"
          data-umami-event={`GitHub about`}
          target="_blank"
          rel="noreferrer">GitHub</a
        ></b
      >, <b class="hover:underline"
        ><a
          href="https://www.linkedin.com/in/mokhtar-miloua/"
          target="_blank"
          data-umami-event={`LinkedIn about`}
          rel="noreferrer">LinkedIn</a
        ></b
      > or DM me on <b class="hover:underline"
        ><a
          href="https://www.instagram.com/miloua191"
          target="_blank"
          data-umami-event={`Instagram about`}
          rel="noreferrer">Instagram</a
        ></b
      >.
    </div>
    <div
      class="dark:bg-stone-600 dark:border-stone-500 2xl:w-[90%] m-auto lg:w-[740px] bg-stone-50 my-4 border border-s-gray-300 px-2 rounded-md"
    >
      <!-- Item #1 -->
      <div class="relative pl-8 sm:pl-36 py-6 group">
        <!-- Purple label -->
        <h1
          class="font-caveat font-medium text-2xl dark:text-purple-200 text-purple-700 mb-1 sm:mb-0"
        >
          Bac Génie Électrique
        </h1>
        <!-- Vertical line (::before) ~ Date ~ Title ~ Circle marker (::after) -->
        <div
          class="flex flex-col sm:flex-row items-start mb-1 group-last:before:hidden before:absolute before:left-2 sm:before:left-0 before:h-[110%] before:px-px before:bg-slate-300 sm:before:ml-[7.5rem] before:self-start before:-translate-x-1/2 before:translate-y-5 after:absolute after:left-2 sm:after:left-0 after:w-2 after:h-2 after:bg-purple-400 after:border-4 after:box-content after:border-slate-50 after:rounded-full sm:after:ml-[7.5rem] after:-translate-x-1/2 after:translate-y-1.5"
        >
          <time
            class="sm:absolute left-0 translate-y-0.5 inline-flex items-center justify-center text-xs font-semibold uppercase w-24 h-6 mb-3 sm:mb-0 text-emerald-700 bg-emerald-100 rounded-full"
            >Juin, 2017</time
          >
          <h2 class="text-xl font-bold dark:text-slate-200 text-slate-900">
            Amir Khaled, Mascara, Algeria
          </h2>
        </div>
        <!-- Content -->
        <p class="dark:text-slate-100 text-slate-800 text-lg">
          Graduated from high school with a specialization in electrical
          engineering.
        </p>
      </div>

      <!-- Item #2 -->
      <div class="relative pl-8 sm:pl-36 py-6 group">
        <!-- Purple label -->
        <h1
          class="font-caveat font-medium text-2xl dark:text-purple-200 text-purple-700 mb-1 sm:mb-0"
        >
          Master Télécommunication Spatiale
        </h1>
        <!-- Vertical line (::before) ~ Date ~ Title ~ Circle marker (::after) -->
        <div
          class="flex flex-col sm:flex-row items-start mb-1 group-last:before:hidden before:absolute before:left-2 sm:before:left-0 before:h-full before:px-px before:bg-slate-300 sm:before:ml-[7.5rem] before:self-start before:-translate-x-1/2 before:translate-y-3 after:absolute after:left-2 sm:after:left-0 after:w-2 after:h-2 after:bg-purple-400 after:border-4 after:box-content after:border-slate-50 after:rounded-full sm:after:ml-[7.5rem] after:-translate-x-1/2 after:translate-y-1.5"
        >
          <time
            class="sm:absolute left-0 translate-y-0.5 inline-flex items-center justify-center text-xs font-semibold uppercase w-24 h-6 mb-3 sm:mb-0 text-emerald-700 bg-emerald-100 rounded-full"
            >Juin, 2023</time
          >
          <h2 class="text-xl font-bold dark:text-slate-200 text-slate-900">
            Saad Dahleb University, Blida, Algeria
          </h2>
        </div>
        <!-- Content -->
        <p class="text-slate-800 dark:text-slate-100 text-lg">
          The courses I took primarily focused on wired and wireless
          telecommunications, orbital mechanics, and programming.
        </p>
        <p class="text-slate-800 dark:text-slate-200 text-lg">
          <span class="font-bold">Published conference paper:</span> A UAV-Based
          Close Monitoring of The Vegetation for Precision Agriculture Purposes.
          DOI: <a
            href="https://doi.org/10.1109/M2GARSS57310.2024.10537513"
            target="_blank"
            data-umami-event={`Article DOI`}
            class="font-bold break-all">10.1109/M2GARSS57310.2024.10537513</a
          >
        </p>
      </div>

      <!-- Item #3 -->
      <div class="relative pl-8 sm:pl-36 py-6 group">
        <!-- Purple label -->
        <h1
          class="font-caveat font-medium text-2xl dark:text-purple-200 text-purple-700 mb-1 sm:mb-0"
        >
          Web Development
        </h1>
        <!-- Vertical line (::before) ~ Date ~ Title ~ Circle marker (::after) -->
        <div
          class="flex flex-col sm:flex-row items-start mb-1 group-last:before:hidden before:absolute before:left-2 sm:before:left-0 before:h-full before:px-px before:bg-slate-300 sm:before:ml-[7.5rem] before:self-start before:-translate-x-1/2 before:translate-y-3 after:absolute after:left-2 sm:after:left-0 after:w-2 after:h-2 after:bg-purple-400 after:border-4 after:box-content after:border-slate-50 after:rounded-full sm:after:ml-[7.5rem] after:-translate-x-1/2 after:translate-y-1.5"
        >
          <time
            class="sm:absolute left-0 translate-y-0.5 inline-flex items-center justify-center text-xs font-semibold uppercase w-24 h-6 mb-3 sm:mb-0 text-emerald-700 bg-emerald-100 rounded-full"
            >August, 2023</time
          >
          <h2 class="text-xl font-bold dark:text-slate-200 text-slate-900">
            Self Taught
          </h2>
        </div>
        <!-- Content -->
        <p class="text-slate-800 dark:text-slate-100 text-lg">
          After graduating from university, I began learning web development
          with a focus on the frontend. I learned the basics of HTML, CSS, and
          JavaScript, and I am currently working with React and Next.js.
        </p>
      </div>

      <!-- Item #4 -->
      <div class="relative pl-8 sm:pl-36 py-6 group">
        <!-- Purple label -->
        <h1
          class="font-caveat font-medium text-2xl dark:text-blue-200 text-blue-700 mb-1 sm:mb-0"
        >
          Frontend Developer Internship
        </h1>
        <!-- Vertical line (::before) ~ Date ~ Title ~ Circle marker (::after) -->
        <div
          class="flex flex-col sm:flex-row items-start mb-1 group-last:before:hidden before:absolute before:left-2 sm:before:left-0 before:h-full before:px-px before:bg-slate-300 sm:before:ml-[7.5rem] before:self-start before:-translate-x-1/2 before:translate-y-3 after:absolute after:left-2 sm:after:left-0 after:w-2 after:h-2 after:bg-blue-400 after:border-4 after:box-content after:border-slate-50 after:rounded-full sm:after:ml-[7.5rem] after:-translate-x-1/2 after:translate-y-1.5"
        >
          <time
            class="sm:absolute left-0 translate-y-0.5 inline-flex items-center justify-center text-xs font-semibold uppercase w-24 h-6 mb-3 sm:mb-0 text-emerald-700 bg-emerald-100 rounded-full"
            >Jun - Sep, 2024</time
          >
          <h2 class="text-xl font-bold dark:text-slate-200 text-slate-900">
            <a href="https://alfec.net" target="_blank">Alfec</a>, Oran, Algeria
          </h2>
        </div>
        <!-- Content -->
        <p class="text-slate-800 dark:text-slate-200 text-lg">
          First internship after learning web development. My initial tasks were
          to fix bugs in a React Native app and prepare it for cross platform
          publishing. Later, I worked on various projects for their clients,
          including websites and digital signage app.
        </p>
      </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="-5 -5 10 10"
      ><defs
        ><mask id="mask-31"><circle r="3" fill="#fff"></circle></mask><filter
          id="filter-32"
          ><feTurbulence type="fractalNoise" baseFrequency="100"
          ></feTurbulence><feDisplacementMap in="SourceGraphic" scale="3"
          ></feDisplacementMap></filter
        ><filter id="filter-33"
          ><feGaussianBlur stdDeviation=".7"></feGaussianBlur></filter
        ><mask id="mask-34"
          ><circle r=".85" cx="2" cy="2" fill="#fff"></circle></mask
        ><filter id="filter-35"
          ><feTurbulence type="fractalNoise" baseFrequency="100"
          ></feTurbulence><feDisplacementMap in="SourceGraphic" scale="1"
          ></feDisplacementMap></filter
        ><filter id="filter-36"
          ><feGaussianBlur stdDeviation=".2"></feGaussianBlur></filter
        ></defs
      ><g mask="url(#mask-31)"
        ><circle r="3" fill="pink"></circle><g filter="url(#filter-32)"
          ><circle cx="4" cy="4" r="6" fill="#322EA2" filter="url(#filter-33)"
          ></circle></g
        ></g
      ><g transform="rotate(-20)"
        ><circle
          r="0.0384195643061249"
          fill="pink"
          cx="-3.068992620281244"
          cy="-0.6461397181573826"></circle><circle
          r="0.08870053901218"
          fill="pink"
          cx="-3.374086683726537"
          cy="-0.5102523868384888"></circle><circle
          r="0.005063737353515558"
          fill="pink"
          cx="-3.6472862704572275"
          cy="-0.36216859213101055"></circle><circle
          r="0.008228814660862565"
          fill="pink"
          cx="-3.886008886698201"
          cy="-0.2032881365844463"></circle><circle
          r="0.03360412192446302"
          fill="pink"
          cx="-4.087997941662483"
          cy="-0.035112881136238394"></circle><circle
          r="0.01350313747373294"
          fill="pink"
          cx="-4.251344078592516"
          cy="0.14076745163928298"></circle><circle
          r="0.012170832258228568"
          fill="#322EA2"
          cx="-4.374503223476846"
          cy="0.32269030481810046"></circle><circle
          r="0.08330362090128118"
          fill="pink"
          cx="-4.456311180831803"
          cy="0.5089360029003072"></circle><circle
          r="0.06270877690732025"
          fill="pink"
          cx="-4.495994638577554"
          cy="0.6977440075128593"></circle><circle
          r="0.03907780395598398"
          fill="#322EA2"
          cx="-4.49317847798193"
          cy="0.8873295593798048"></circle><circle
          r="0.0223952588043608"
          fill="#322EA2"
          cx="-4.447889319572786"
          cy="1.075900549247221"></circle><circle
          r="0.004955528952467126"
          fill="pink"
          cx="-4.360555271500179"
          cy="1.2616744582858244"></circle><circle
          r="0.07806618552719213"
          fill="#322EA2"
          cx="-4.232001882727055"
          cy="1.4428952078374735"></circle><circle
          r="0.01591083075831001"
          fill="pink"
          cx="-4.063444339302007"
          cy="1.6178497592287229"></circle><circle
          r="0.041438094930332"
          fill="#322EA2"
          cx="-3.8564759774809683"
          cy="1.784884306737162"></circle><circle
          r="0.025889186235620445"
          fill="pink"
          cx="-3.613053222280699"
          cy="1.9424199106420834"></circle><circle
          r="0.09908663959777317"
          fill="#322EA2"
          cx="-3.3354770938365097"
          cy="2.0889674225838135"></circle><circle
          r="0.041473062243840925"
          fill="#322EA2"
          cx="-3.0263714563804287"
          cy="2.2231415621456545"></circle><circle
          r="0.07989988797797493"
          fill="pink"
          cx="-2.6886582154472918"
          cy="2.3436740115957018"></circle><circle
          r="0.015892871486288384"
          fill="#322EA2"
          cx="-2.325529697763945"
          cy="2.449425405006908"></circle><circle
          r="0.05433926835445834"
          fill="#322EA2"
          cx="-1.940418474908208"
          cy="2.539396098424968"></circle><circle
          r="0.0041580397737997375"
          fill="pink"
          cx="-1.53696491598771"
          cy="2.6127356192760565"></circle><circle
          r="0.09670955174142434"
          fill="#322EA2"
          cx="-1.1189827760557745"
          cy="2.668750705691315"></circle><circle
          r="0.04024162276031473"
          fill="#322EA2"
          cx="-0.6904231455492554"
          cy="2.7069118597541824"></circle><circle
          r="0.06675406826540141"
          fill="#322EA2"
          cx="-0.25533710152610756"
          cy="2.7268583527241863"></circle><circle
          r="0.08042567134762234"
          fill="#322EA2"
          cx="0.18216258624788717"
          cy="2.728401634923976"></circle><circle
          r="0.027360829659058363"
          fill="#322EA2"
          cx="0.6179403323796087"
          cy="2.7115271180566887"></circle><circle
          r="0.03560622626267346"
          fill="#322EA2"
          cx="1.04787682860001"
          cy="2.676394313105812"></circle><circle
          r="0.022798870750655353"
          fill="pink"
          cx="1.467907982651599"
          cy="2.6233353225140092"></circle><circle
          r="0.023182278717048036"
          fill="pink"
          cx="1.8740633352314369"
          cy="2.5528517008939975"></circle><circle
          r="0.095744289762068"
          fill="#322EA2"
          cx="2.26250359184308"
          cy="2.465609713946467"></circle><circle
          r="0.012739451506334527"
          fill="pink"
          cx="2.6295569147772957"
          cy="2.3624340404014132"></circle><circle
          r="0.0645637729624451"
          fill="pink"
          cx="2.971753632161754"
          cy="2.2442999765170115"></circle><circle
          r="0.0952904990925964"
          fill="#322EA2"
          cx="3.2858590359828517"
          cy="2.112324216825129"></circle><circle
          r="0.08255161194137746"
          fill="#322EA2"
          cx="3.568903959047457"
          cy="1.967754298271004"></circle><circle
          r="0.07043816157352724"
          fill="pink"
          cx="3.8182128418474512"
          cy="1.8119568075292445"></circle><circle
          r="0.09999344980675862"
          fill="pink"
          cx="4.031429024017358"
          cy="1.6464044629697212"></circle><circle
          r="0.06501327469507019"
          fill="#322EA2"
          cx="4.206537021310675"
          cy="1.4726621933845918"></circle><circle
          r="0.057164347009525454"
          fill="pink"
          cx="4.341881577515654"
          cy="1.2923723450711087"></circle><circle
          r="0.03762530443460535"
          fill="pink"
          cx="4.436183311217126"
          cy="1.1072391571042917"></circle><circle
          r="0.03217698052310243"
          fill="#322EA2"
          cx="4.488550809499056"
          cy="0.919012651551206"></circle><circle
          r="0.04248647976252931"
          fill="#322EA2"
          cx="4.4984890542688145"
          cy="0.7294720909089839"></circle><circle
          r="0.07410323380954302"
          fill="pink"
          cx="4.465904101551008"
          cy="0.5404091591396999"></circle><circle
          r="0.014126536739637464"
          fill="#322EA2"
          cx="4.3911039695185865"
          cy="0.3536110252879404"></circle><circle
          r="0.0839752005115133"
          fill="pink"
          cx="4.27479572686687"
          cy="0.1708434497768726"></circle><circle
          r="0.04402458928843098"
          fill="#322EA2"
          cx="4.11807880905342"
          cy="-0.006165906924835019"></circle><circle
          r="0.09491647475418358"
          fill="#322EA2"
          cx="3.9224346255838345"
          cy="-0.17574381548587584"></circle><circle
          r="0.028683283866825882"
          fill="pink"
          cx="3.6897125565834417"
          cy="-0.33628729436994315"></circle><circle
          r="0.07456217590760589"
          fill="#322EA2"
          cx="3.422112471026118"
          cy="-0.48627876245689583"></circle><circle
          r="0.038542540430746834"
          fill="pink"
          cx="3.1221639318714676"
          cy="-0.6243003843931336"></circle></g
      ><g mask="url(#mask-34)"
        ><circle r="8" fill="#322EA2"></circle><g filter="url(#filter-35)"
          ><circle cx="1" cy="1" r="1.5" fill="pink" filter="url(#filter-36)"
          ></circle></g
        ></g
      ></svg
    >
    <div class="flex justify-end relative sm:-top-36 mb-8 sm:mb-0">
      <p
        class="text-stone-800 dark:text-stone-100 flex justify-center bg-stone-200 font-semibold dark:bg-stone-400 w-28 gap-1 rounded-md"
      >
        By<a
          href="https://vis.social/@yuanchuan/110830399603567517"
          target="_blank">Yuan Chuan</a
        >
      </p>
    </div>
  </div>
</Layout>
