---
import Layout from "../layouts/Layout.astro";
import { Front } from "../components/Hero.tsx";
import Project from "../components/projects.tsx";
---

<Layout title={"Miloua Mokhtar"}>
  <div class="my-6">
    <Front client:load />
    <h1 class="text-3xl text-[#282828] font-semibold text-center mb-4">
      Projects
    </h1>
    <Project
      projectTitle={"Libray Tower"}
      date={"January 2024"}
      imageSet="library-tower-full.avif"
      image="/library-tower.avif"
      description="A minimalist library to read public domain books built with Next.js, Supabase and Tailwind."
      link="https://library-tower.vercel.app/"
      githubLink="https://github.com/Miloua91/library-tower"
      postLink="https://mokhincode.com/posts/library-tower"
      Pstyle="text-[#3c3836]"
      badges={[
        "/next.svg",
        "/supabase.svg",
        "/tailwind.svg",
        "/TypeScript.svg",
      ]}
      stacks={["NextJs", "Supabase", "Tailwind", "TypeScript"]}
      stackLinks={[
        "https://nextjs.org/",
        "https://supabase.com/",
        "https://tailwindcss.com/",
        "https://www.typescriptlang.org/",
      ]}
    />
    <Project
      projectTitle="ArtistryNest"
      date="December 2023"
      imageSet="artistrynest-full.avif"
      image="artistrynest.avif"
      description="A modern e-commerce website for home furniture made with Next.js and Supabase."
      link="https://artistrynest.shop/"
      githubLink="https://github.com/Miloua91/ArtistryNest"
      postLink="https://mokhincode.com/posts/artistrynest"
      Pstyle="text-[#3c3836]"
      badges={["/next.svg", "/supabase.svg", "/JavaScript.svg"]}
      stacks={["NextJs", "Supabase", "JavaScript"]}
      stackLinks={[
        "https://nextjs.org/",
        "https://supabase.com/",
        "https://developer.mozilla.org/fr/docs/Web/JavaScript",
      ]}
    />
  </div>
</Layout>
