---
import Layout from "../layouts/Layout.astro";
import { Front } from "../components/Hero.tsx";
import Project from "../components/projects.tsx";
---

<Layout title={"Miloua Mokhtar"}>
  <div class="my-4">
    <Front client:load />
    <h1
      class="dark:bg-stone-700 dark:text-stone-100 dark:border-stone-600 2xl:w-1/2 text-3xl text-[#282828] lg:w-[798px] flex items-center justify-center h-16 border py-2 border-t-0 rounded-md font-semibold text-center m-auto mb-4 bg-white"
    >
      Projects
    </h1>
    <div
      class="dark:bg-stone-700 dark:border-stone-600 border bg-white 2xl:w-1/2 lg:w-[798px] py-1 px-2 sm:px-4 rounded-md m-auto"
    >
      <Project
        projectTitle={"3OMLA"}
        date={"April 2024"}
        imageSet="/3omlaVer.png"
        image="/3omla.png"
        description="An online platform facilitating the buying and selling of euros within Algeria."
        link="https://3omla.app/"
        githubLink=""
        postLink="/posts/3omla"
        Pstyle="text-stone-900"
        badges={[
          "/next.svg",
          "/tailwind.svg",
          "/django.svg",
          "/supabase.svg",
          "/TypeScript.svg",
          "/python.svg",
        ]}
        stacks={[
          "NextJs",
          "Tailwind",
          "Django",
          "Supabase",
          "TypeScript",
          "Python",
        ]}
        stackLinks={[
          "https://nextjs.org/",
          "https://tailwindcss.com/",
          "https://www.djangoproject.com/",
          "https://supabase.com/",
          "https://www.typescriptlang.org/",
          "https://python.org",
        ]}
        button1={"Browse 3OMLA"}
        button2={""}
        button3={""}
      />
      <Project
        projectTitle={"ClipWarp"}
        date={"March 2024"}
        imageSet="/clipwarpMobile.png"
        image="/clipwarp.png"
        description="A cross-platform clipboard/links manager with a web app (Astro), mobile app (React Native), and desktop app (Python)."
        link="https://github.com/Miloua91/clipwarp/releases/tag/v0.1.0"
        githubLink="https://github.com/Miloua91/clipwarp"
        postLink="/posts/clipwarp"
        Pstyle="text-stone-900"
        badges={[
          "/astro.svg",
          "/expo.svg",
          "/react-native.svg",
          "/tailwind.svg",
          "/pyqt.svg",
          "/flask.svg",
          "/sqlite.svg",
          "/TypeScript.svg",
          "/python.svg",
        ]}
        stacks={[
          "Astro",
          "Expo",
          "React Native",
          "Tailwind",
          "PyQt",
          "Flask",
          "SQLite",
          "TypeScript",
          "Python",
        ]}
        stackLinks={[
          "https://astro.build/",
          "https://expo.dev/",
          "https://reactnative.dev/",
          "https://tailwindcss.com/",
          "https://www.qt.io/qt-for-python",
          "https://flask.palletsprojects.com/",
          "https://www.sqlite.org/",
          "https://www.typescriptlang.org/",
          "https://www.python.org/",
        ]}
        button1={"Try the App"}
        button2={"Check the Code"}
        button3={""}
      />
      <Project
        projectTitle={"Libray Tower"}
        date={"January 2024"}
        imageSet="/library-tower-full.png"
        image="/library-tower.png"
        description="A minimalist library to read public domain books built with Next.js, Supabase and Tailwind."
        link="https://library-tower.vercel.app/"
        githubLink="https://github.com/Miloua91/library-tower"
        postLink="/posts/library-tower"
        Pstyle="text-stone-900"
        badges={[
          "/next.svg",
          "/supabase.svg",
          "/tailwind.svg",
          "/TypeScript.svg",
        ]}
        stacks={["NextJs", "Supabase", "Tailwind", "TypeScript"]}
        stackLinks={[
          "https://nextjs.org/",
          "https://supabase.com/",
          "https://tailwindcss.com/",
          "https://www.typescriptlang.org/",
        ]}
        button1={"Browse the Site"}
        button2={"Check the Code"}
        button3={"Read my Post"}
      />
      <Project
        projectTitle="ArtistryNest"
        date="December 2023"
        imageSet="/artistrynest-full.png"
        image="/artistrynest.png"
        description="A modern e-commerce website for home furniture made with Next.js and Supabase."
        link="https://artistrynest.shop/"
        githubLink="https://github.com/Miloua91/ArtistryNest"
        postLink="/posts/artistrynest"
        Pstyle="text-stone-900"
        badges={["/next.svg", "/supabase.svg", "/JavaScript.svg"]}
        stacks={["NextJs", "Supabase", "JavaScript"]}
        stackLinks={[
          "https://nextjs.org/",
          "https://supabase.com/",
          "https://developer.mozilla.org/fr/docs/Web/JavaScript",
        ]}
        button1={"Browse the Site"}
        button2={"Check the Code"}
        button3={"Read my Post"}
      />
    </div>
  </div>
</Layout>
