---
import Layout from "../layouts/Layout.astro";
const posts = await Astro.glob("./posts/*.md");
---

<Layout title="Posts | Miloua Mokhtar">
  <div
    class="2xl:w-1/2 md:w-[798px] px-2 rounded-md bg-white shadow m-auto mt-4 border"
  >
    <p class="text-2xl text-center pt-2">
      This is a place where I share my experience building projects
    </p>
    {
      posts
        .sort((a, b) => b.frontmatter.location - a.frontmatter.location)
        .map((post) => (
          <div class="my-6 bg-stone-50 px-2 py-1 border border-gray-300 rounded-md">
            <div>
              <div class="flex items-center gap-2 md:justify-between">
                <a href={post.url} class="text-xl font-semibold">
                  {post.frontmatter.title}
                </a>
                <time>{post.frontmatter.date}</time>
              </div>
              <p class="text-lg">{post.frontmatter.description}</p>
            </div>
          </div>
        ))
    }
  </div>
</Layout>
