<div
  class="2xl:w-1/2 flex justify-between lg:w-[798px] lg:m-auto text-xl bg-white rounded-md px-2 py-1 border shadow"
>
  <ul class="flex gap-6 sm:gap-8 items-center">
    <li>
      <a href="mailto:miloua23@gmail.com" target="_blank"
        ><img src="/email.svg" width="26" height="26" alt="Email" /></a
      >
    </li>
    <li>
      <a href="https://github.com/Miloua91" target="_blank"
        ><img src="/github.svg" width="26" height="26" alt="Github" /></a
      >
    </li>
    <li>
      <a href="https://www.linkedin.com/in/mokhtar-miloua/" target="_blank">
        <img src="/linkedin.svg" width="25" height="25" alt="LinkedIn" /></a
      >
    </li>
  </ul>
  <ul class="flex gap-2 sm:gap-4 items-center">
    <li
      class="group text-gray-800 transition-all duration-300 ease-in-out font-semibold"
    >
      <a
        href="/"
        class="bg-left-bottom bg-gradient-to-r from-gray-800 to-gray-800 bg-[length:0%_2px] bg-no-repeat group-hover:bg-[length:100%_2px] transition-all duration-500 ease-out"
        >Home</a
      >
    </li>
    <span>|</span>
    <li
      class="group text-gray-800 transition-all duration-300 ease-in-out font-semibold"
    >
      <a
        href="/posts"
        class="bg-left-bottom bg-gradient-to-r from-gray-800 to-gray-800 bg-[length:0%_2px] bg-no-repeat group-hover:bg-[length:100%_2px] transition-all duration-500 ease-out"
        >Posts</a
      >
    </li>
    <span>|</span>
    <li
      class="group text-gray-800 transition-all duration-300 ease-in-out font-semibold"
    >
      <a
        href="/about"
        class="bg-left-bottom bg-gradient-to-r from-gray-800 to-gray-800 bg-[length:0%_2px] bg-no-repeat group-hover:bg-[length:100%_2px] transition-all duration-500 ease-out"
        >About</a
      >
    </li>
  </ul>
</div>
